@model ResultView<CUProductDTO>
@{
    ViewData["Title"] = "CreateProduct";
    // SelectList categoriesList = new(ViewBag.Categories, "Id", "NameEn", Model?.Data?.CategoriesId ?? new List<int>());
}
<!-- Plugin css for this page -->
<link rel="stylesheet" href="~/assets/vendors/select2/select2.min.css">
<link rel="stylesheet" href="~/assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css">
<!-- End plugin css for this page -->
@section Navbar {

    <partial name="_NavbarPartial" />
}
@section Sidebar {

    <partial name="_SidebarPartial" />
}
@section Footer {

    <partial name="_FooterPartial" />
}
@if(!Model.IsSuccess)
{
    <div id="msgDiv" class="alert alert-success text-dark" role="alert"> <span>@Model.Msg</span> <button onclick="closeMsg(event)" class="btn btn-outline-danger"><i class="mdi mdi-close"></i></button></div>
}
<h1>CreateProduct</h1>

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                @* <h4 class="card-title">CreateProduct</h4> *@
                <form class="form-sample" asp-action="Create">
                    <p class="card-description"> Main Info </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" asp-for="Data.ProductNo"></label>
                                <div class="col-sm-9">
                                    <input class="form-control" asp-for="Data.ProductNo"/>
                                    <span class="text-danger" asp-validation-for="Data.ProductNo"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" asp-for="Data.Price"></label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-primary text-white">$</span>
                                        </div>
                                        <input class="form-control" asp-for="Data.Price" aria-label="Amount (to the nearest dollar)" />
                                        <div class="input-group-append">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                    <span class="text-danger" asp-validation-for="Data.Price"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" asp-for="Data.NameEn"></label>
                                <div class="col-sm-9">
                                    <input class="form-control" asp-for="Data.NameEn" />
                                    <span class="text-danger" asp-validation-for="Data.NameEn"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" asp-for="Data.NameAr"></label>
                                <div class="col-sm-9">
                                    <input class="form-control" asp-for="Data.NameAr" />
                                    <span class="text-danger" asp-validation-for="Data.NameAr"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" asp-for="Data.Discount"></label>
                                <div class="col-sm-9">
                                    <input class="form-control" asp-for="Data.Discount" />
                                    <span class="text-danger" asp-validation-for="Data.Discount"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Categories</label>
                                <div class="col-sm-9">
                                    <select class="js-example-basic-multiple" multiple style="width: 100%" asp-for="Data.CategoriesId">
                                        @*  asp-items="categoriesList" *@
                                        
                                    </select>
                                    @* <span class="text-danger" asp-validation-for="CategoriesId"></span> *@
                                </div>
                            </div>
                        </div>
                    </div>
                    <p class="card-description"> Details </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" asp-for="Data.ShippingAndReturnsEn"></label>
                                <div class="col-sm-9">
                                    <input class="form-control" asp-for="Data.ShippingAndReturnsEn" />
                                    <span class="text-danger" asp-validation-for="Data.ShippingAndReturnsEn"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" asp-for="Data.ShippingAndReturnsAr"></label>
                                <div class="col-sm-9">
                                    <input class="form-control" asp-for="Data.ShippingAndReturnsAr" />
                                    <span class="text-danger" asp-validation-for="Data.ShippingAndReturnsAr"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" asp-for="Data.HighlightsEn"></label>
                                <div class="col-sm-9">
                                    <input class="form-control" asp-for="Data.HighlightsEn" />
                                    @* <span class="text-danger" asp-validation-for="HighlightsEn"></span> *@
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" asp-for="Data.HighlightsAr"></label>
                                <div class="col-sm-9">
                                    <input class="form-control" asp-for="Data.HighlightsAr" />
                                    @* <span class="text-danger" asp-validation-for="HighlightsAr"></span> *@
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" asp-for="Data.SustainabilityEn"></label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" rows="4" asp-for="Data.SustainabilityEn"></textarea>
                                    <span class="text-danger" asp-validation-for="Data.SustainabilityEn"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" asp-for="Data.SustainabilityAr"></label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" rows="4" asp-for="Data.SustainabilityAr"></textarea>
                                    <span class="text-danger" asp-validation-for="Data.SustainabilityAr"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" asp-for="Data.CareGuideEn"></label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" rows="4" asp-for="Data.CareGuideEn"></textarea>
                                    <span class="text-danger" asp-validation-for="Data.CareGuideEn"></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label" asp-for="Data.CareGuideAr"></label>
                                <div class="col-sm-9">
                                    <textarea class="form-control" rows="4" asp-for="Data.CareGuideAr"></textarea>
                                    <span class="text-danger" asp-validation-for="Data.CareGuideAr"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-check form-check-flat form-check-primary">
                        <label asp-for="Data.FreeShipping" class="form-check-label">
                            <input class="form-check-input" asp-for="Data.FreeShipping"> Free Shipping
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary mr-2">Create</button>
                    <a asp-controller="Product" asp-action="GetAll" class="btn btn-dark">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script src="~/assets/vendors/select2/select2.min.js"></script>
    <script src="~/assets/js/select2.js"></script>
} 