@using AllBirds.DTOs.ColorDTOs
@model CUColorDTO


@if (TempData["IsSuccess"] is bool Success)
{
    @if (!Success)
    {
        <div id="msgDiv" class="alert alert-success text-dark" role="alert">
            <span>@TempData["Msg"]</span> <button onclick="closeMsg(event)" class="btn btn-outline-danger"><i class="mdi mdi-close"></i></button>
        </div>
    }

}
<div class="card">
    <div class="card-body">
        <h4 class="card-title">Create Color</h4>
        <p class="card-description">Use this form to create a new color</p>

        <form asp-action="Create" method="post" class="forms-sample">
            <div class="form-group">
                <label style="margin-top:6px" for="ColorName">Color NameEn</label>
                <input style="margin-top:4px" type="text" class="form-control" asp-for="NameEn" />                
                <label style="margin-top:6px" for="ColorName">Color NameAr</label>
                <input style="margin-top:4px" type="text" class="form-control" asp-for="NameAr" />
                <label style="margin-top:6px" for="ColorName">Color Code</label>
                <input style="margin-top:4px" type="text" class="form-control" asp-for="Code" />
            </div>

            <button type="submit" class="btn btn-primary mr-2">Create</button>
            <a href="@Url.Action("Index", "Color")" class="btn btn-dark">Cancel</a>
        </form>
    </div>
</div>
