@using AllBirds.DTOs.ColorDTOs
@model CUColorDTO

<div class="card">
    <div class="card-body">
        <h4 class="card-title">Create Color</h4>
        <p class="card-description">Use this form to create a new color</p>

        <form asp-action="Create" method="post" class="forms-sample">
            <div class="form-group">
                <label for="ColorName">Color NameEn</label>
                <input type="text" class="form-control" asp-for="NameEn" />                
                <label for="ColorName">Color NameAr</label>
                <input type="text" class="form-control" asp-for="NameAr" />
                <label for="ColorName">Color Code</label>
                <input type="text" class="form-control" asp-for="Code" />
            </div>

            <button type="submit" class="btn btn-primary mr-2">Create</button>
            <a href="@Url.Action("Index", "Color")" class="btn btn-dark">Cancel</a>
        </form>
    </div>
</div>
