@model AllBirds.DTOs.AccountDTOs.AccountLoginDTO
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<form asp-action="Login">
    <div class="mb-3">

        <label asp-for="Email"></label>
        <input asp-for="Email" />
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password"></label>
        <input asp-for="Password">
    </div>
    <div class="mb-3 form-check">
        <input asp-for="RememberMe">
        <label asp-for="RememberMe"></label>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>
